h2, h3, header li a {
    position: relative;
    width: fit-content;
}

h2::before, h3::before, header li a::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 3px;
}

header li a::before {
    height: 1px;
    width: 100%;
    background: #7A6DB1;
    margin-top: 3px;
    opacity: 0;
    transition: opacity .25s;
}

h2::before {
    width: 50%;
    left: 25%;
    background: linear-gradient(90deg, #00D1FF 0%, #7A6DB1 50%, #FF005C 100%);
    margin-top: 5px;
}

h3::before {
    width: 25%;
    background: #7A6DB1;
    margin-top: 5px;
}




@media (min-width: 640px) {
    header li a:hover::before {
        opacity: 1;
    }

    #links {
        display: flex;
    }
}